<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264514029891-b7n9unl78sffm563b2eb6ubr24rlrv7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264514029891-b7n9unl78sffm563b2eb6ubr24rlrv7b</string>
	<key>API_KEY</key>
	<string>AIzaSyAPMw4wG8oZlfSshMoPQn5QAuJ-lVli-Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>264514029891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frengki.shamo</string>
	<key>PROJECT_ID</key>
	<string>shoesshop-e1d68</string>
	<key>STORAGE_BUCKET</key>
	<string>shoesshop-e1d68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264514029891:ios:4c66d3ccb8fe0b3f2847f6</string>
</dict>
</plist>